body {
    background-image: url(../img/pattern.jpg);
}
ul {
    list-style: none;
}
li {
    margin: 5px;
    display: inline;
}
a{
    text-decoration: none;
}
header{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
}
section{
    background-color: white;
    margin: 100px 150px 30px;
    padding: 20px;
}
article{
    border-bottom: 2px solid black;
    margin: 20px;
}
h1 {
   text-align: center; 
}
a{
    text-decoration: none;
}
footer {
    background-color: black;
    padding: 20px;
}
h5{
    color: white;
    text-align: center;
}
